html {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.container {
    max-width: 400px;
    margin: 0 auto;
    padding: 2rem;
    background-color: #f2f2f2;
    border-radius: 10px;
}

h2 {
    text-align: center;
    margin-top: 0;
}

.form {
    margin-bottom: 2rem;
}

.form-group {
    margin-bottom: 1.5rem;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 0.5rem;
}

input[type="text"],
input[type="number"] {
    width: 100%;
    box-sizing: border-box;
    padding: 0.75rem;
    border-radius: 5px;
    border: 1px solid #dddddd;
}

.btn {
    display: inline-block;
    padding: 1rem 2rem;
    background-color: #4caf50;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #45a049;
}

#calculator-buttons {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 2rem;
    gap: 1rem;
}

.result {
    padding: 1.5rem;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.result p {
    margin-bottom: 1rem;
}

#cashbackReceived {
    font-weight: bold;
    color: #4caf50;
}
